
  <!-- <script src="{{ 'assets/plugins/jquery/jquery.min.js' | relative_url }}"></script> -->
  <script src="{{ 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/adminlte.min.js' | relative_url }}"></script>
