.txt-color{
color:rgb(115,6,172);
font-weight: 30px;
margin-top:50px;
letter-spacing:-1px;
}
.text-dropdown1{
    margin-top:13.8rem;
}
.text-clr{
    font-family: 'Open Sans Condensed',Helvetica,sans-serif;
    font-weight: bold;
    font-size: 0.875em;
    color: #000000;
    line-height: 1.3em;
    
}
.tax-txt{
    font-family: 'Open Sans Condensed',Helvetica,sans-serif;
    font-weight: bold;
    font-size: 5em;
    color: #000000;
}
.txt-italic{
    font-style:italic;
}
.corner-zero{
    border-radius: 0;
}

.btn-warning-set{
    color:white;
    background-color:rgb(216,84,39);
    margin:30px 0px;
}
.btn-warning-set:hover{
color:white;
background-color:rgb(209, 64, 15);
}
.btn-outline-danger{
    margin:30px 0px;
}
.box-shadow{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    margin-left: 10%;
}


/* Styles for signature plugin v1.2.0. */
#myCanvas {
    border:4px solid #444;
    border-radius: 15px;
    background-color: #fafafa;
}
